In [1]:
'Hello'*3

'HelloHelloHello'

In [ ]:
# This is an example snippet!
# To create your own, add a new snippet block to the
# snippets.json file in your jupyter nbextensions directory:
# /nbextensions/snippets/snippets.json
import this

In [3]:
panjang = float(input('masukan panjang='))
lebar = float(input('masukan lebar='))
Luas = panjang*lebar
print(Luas)

masukan panjang= 12.5
masukan lebar= 9.71

121.37500000000001

In [6]:
3>2

True

In [8]:
8==2+6

True

In [9]:
17*5!=55

True

In [11]:
True==(not False)

True

In [12]:
True>False

True

In [17]:
kata1='Saya'
kata2=kata1 + 'Helenna'
print(kata2)

SayaHelenna

In [18]:
x=3*2
x=2+x
x=1+x
print(x)

9

In [1]:
coba=input()
print('string yang dimasukan: ', coba)

 hai semua

string yang dimasukan:  hai semua

In [4]:
Name=input('Name:')
print('Nama saya ', Name)

Name: Helenna

Nama saya  Helenna

In [7]:
print('Kalkulator Mini')
bil1=float(input('masukan bilangan pertama='))
bil2=float(input('masukan bilangan kedua='))
hasil=bil1+bil2
print('hasil=',hasil)

Kalkulator Mini

masukan bilangan pertama= -18923
masukan bilangan kedua= 12307

hasil= -6616.0

In [8]:
#studi kasus 1 hal 52
n=123
a=30
t=18
L=(a*t)/2
#Luas 123 segitiga
L2=123*L
print('Luas 123 bangun segitiga=',L2)

Luas 123 bangun segitiga= 33210.0

In [9]:
#Studi kasus 2 hal 53
#kamar
jumlah_kamar=4
panjang_kamar=4*100
lebar_kamar=4*100
luas_kamar=jumlah_kamar*panjang_kamar*lebar_kamar
#keramik
panjang_keramik=30
lebar_keramik=40
luas_keramik=panjang_keramik*lebar_keramik
#jumlah keramik
jumlah_keramik=luas_kamar/luas_keramik
print('jumlah keramik yang diperlukan adalah',jumlah_keramik,'buah')

jumlah keramik yang diperlukan adalah 533.3333333333334 buah

In [16]:
jarak=128783082
km=jarak//100000
x=jarak%100000
m=x//100
cm=x%100
print('128.783.082=',km,'km + ',m,'m + ',cm,'cm')

128.783.082= 1287 km +  830 m +  82 cm

In [ ]:
#Proyek latihan 4.7 hal 56 no.1

In [17]:
#Proyek latihan 4.7 hal 56 no.1
#kamar
jumlah_kamar=4
panjang_kamar=4*100
lebar_kamar=4*100
luas_kamar=jumlah_kamar*panjang_kamar*lebar_kamar
#keramik
panjang_keramik=30
lebar_keramik=40
luas_keramik=panjang_keramik*lebar_keramik
#jumlah keramik
jumlah_keramik=luas_kamar/luas_keramik
#Box yang perlu dibeli
box=jumlah_keramik/5
print('jumlah box yang harus dibeli=',box)

jumlah box yang harus dibeli= 106.66666666666667

In [18]:
#Proyek latihan 4.7 hal 56 no.2
#kamar
jumlah_kamar=4
panjang_kamar=4*100
lebar_kamar=4*100
luas_kamar=jumlah_kamar*panjang_kamar*lebar_kamar
#keramik
panjang_keramik=30
lebar_keramik=40
luas_keramik=panjang_keramik*lebar_keramik
#jumlah keramik
jumlah_keramik=luas_kamar/luas_keramik
#Box yang perlu dibeli
box=jumlah_keramik/5
#total box yang harus dibeli
cadangan=0.1*jumlah_keramik
total_box=(cadangan/5)+box
print('total box yang harus dibeli=',total_box)

total box yang harus dibeli= 117.33333333333334

In [2]:
#Proyek latihan 4.7 hal 56 no.4
uang=32892700
a=uang//100000
x=uang%100000
b=x//50000
y=x%50000
c=y//10000
z=y%10000
d=z//5000
p=z%5000
e=p//1000
q=p%1000
f=q//500
r=q%500
g=r//100
print(a,'lembar seratus ribuan')
print(b,'lembar lima puluh ribuan')
print(c,'lembar sepuluh ribuan')
print(d, 'lembar lima ribuan')
print(e,'lembar seribuan')
print(f,'koin lima ratusan')
print(g,'koin seratusan')

328 lembar seratus ribuan
1 lembar lima puluh ribuan
4 lembar sepuluh ribuan
0 lembar lima ribuan
2 lembar seribuan
1 koin lima ratusan
2 koin seratusan

In [4]:
#proyek lat hal 54 no.5
r=float(input('jari-jari lingkaran='))
L=3.14*r**2
print ('luas lingkaran =',L)

jari-jari lingkaran= 18

luas lingkaran = 1017.36

In [5]:
#proyek lat hal 54 no.6
c=float(input('masukan suhu dalam celcius:'))
k=c+273,5
f=c*1.8+32
ra=1.8*(c+491.67)
de=(100-c)*1.5
n=c*33/100
re=c*0.8
ro=c*21/40+7.5
print(k,'kelvin')
print(f,'derajat farenheit')
print(ra,'derajat rankine')
print(de,'derajat delisle')
print(n,'derajat newton')
print(re,'derajat reamur')
print(ro,'derajat romer')

masukan suhu dalam celcius: 37.5

(310.5, 5) kelvin
99.5 derajat farenheit
952.5060000000002 derajat rankine
93.75 derajat delisle
12.375 derajat newton
30.0 derajat reamur
27.1875 derajat romer

In [7]:
#proyek latihan hal 56 no.7
#input
s=float(input('Strawberry(kg):'))
j=float(input('Jeruk(kg):'))
an=float(input('anggur(kg):'))
ap=float(input('apel(kg)'))
se=float(input('semangka(kg):'))
#harga
S=s*30000
J=j*15000
AN=an*42000
AP=ap*38000
SE=se*21000
#Total harga
total=S+J+AN+AP+SE
print('Total belanja : Rp', total)

Strawberry(kg): 4
Jeruk(kg): 8
anggur(kg): 2
apel(kg) 12
semangka(kg): 7

Total belanja : Rp 927000.0

In [8]:
#proyek latihan hal 57 no.8
#input
s=float(input('Strawberry(kg):'))
j=float(input('Jeruk(kg):'))
an=float(input('anggur(kg):'))
ap=float(input('apel(kg)'))
se=float(input('semangka(kg):'))
#harga
S=s*30000
J=j*15000
AN=an*42000
AP=ap*38000
SE=se*21000
#Total harga
total=S+J+AN+AP+SE
print('Pendapatan :Rp',total)
#profit
PS=S-(25000*s)
PJ=J-(12500*j)
PAN=AN-(39000*an)
PAP=AP-(35000*ap)
PSE=SE-(19200*se)
P=PS+PJ+PAN+PAP+PSE
print('profit:Rp',P)

Strawberry(kg): 12
Jeruk(kg): 6
anggur(kg): 8
apel(kg) 8
semangka(kg): 5

Pendapatan :Rp 1195000.0
profit:Rp 132000.0

In [9]:
#proyek latihan hal 57 no.9
total=int(input('total belanja:'))
pembulatan=(total//1000)*1000
print('bayar:',pembulatan)

total belanja: 125999

bayar: 125000

In [14]:
#proyek latihan hal 58 no.10
x=input('masukan no.komputer:')
#waktu mulai akses
print('waktu mulai akses')
jm=float(input('jam:'))
mm=float(input('menit:'))
dm=float(input('detik:'))
#waktu selesai akses
print('waktu selesai akses')
js=float(input('jam:'))
ms=float(input('menit'))
ds=float(input('detik'))
#total waktu akses
tdm=jm*3600+mm*60+dm
tds=js*3600+ms*60+ds
selisih=tds-tdm
tj=selisih//3600
s1=selisih%3600
tm=s1//60
td=s1%60
print('total waktu akses:',tj,'jam',tm,'menit',td,'detik')
#total biaya akses 
biaya=(selisih/(30*60))*2250
print('total biaya akses no komputer',x,'Rp :',biaya)

masukan no.komputer: 112

waktu mulai akses

jam: 2
menit: 15
detik: 30

waktu selesai akses

jam: 3
menit 15
detik 30

total waktu akses: 1.0 jam 0.0 menit 0.0 detik
total biaya akses no komputer 112 Rp : 4500.0

In [ ]:
#mempersiapkan perubahan diri
#berpikir positif
#membuat kebiasan baru